<div class="container m-6">
  <h1 class="mt-3">All our Flats (<%= @flats.count %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="bg-light p-3" id="flat-summary">
            <h3 class="ml-3"><%= flat.name %></h3>
            <p><%= flat.address %></p>
            <div class="flat-icons d-flex ">
              <p class=""><i class="fa-solid fa-user-group"></i>  <small><%= flat.number_of_guests %></small></p>
              <p class="px-3"><i class="fa-solid fa-euro-sign"></i> <small>  <%= flat.price_per_night %> </small></p>
            </div>
          </div>
          <div class="px-3 py-2">
            <%= link_to "More info", flat_path(flat) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
